.editForm {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
}

.input {
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		font-size: 20px;
	}
}

.categorieAndButton {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	grid-area: "categoriesAndSubmit";
}

.categoriesContainer {
	width: 250px;
}

.categories {
	display: flex;
	justify-content: space-between;

	.label {
		display: flex;
		gap: 7px;
		cursor: pointer;
	}
}
