.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categoriesContainer {
  width: 250px;
}

.categories {
  display: flex;
  justify-content: space-between;
}
