$postCardCorner: 5px;
$highlightCorner: 5px;

.postCard {
  width: 70vw;
  border-radius: $postCardCorner;
  text-align: center;
  box-shadow: 0px 3px 5px grey;
  background-color: white;
}

.postCard:hover {
  position: relative;
  top: -5px;
  box-shadow: 0px 6px 10px grey;
}

.postCardPicture {
  border-radius: $postCardCorner $postCardCorner 0px 0px;
  width: 100%;
  object-fit: cover;
}

.postCardInfoBox {
  h2 {
    font-size: 23px;
    font-weight: bold;
  }
  border-radius: 0px 0px $postCardCorner $postCardCorner;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
}

@media (min-width: 1200px) {
  .postCard {
    width: 300px;

    .postCardPicture {
      height: 150px;
    }
  }
}
